<%- include('../partials/head') %>
    <h1>Hi im work</h1>
    <ul>
    <% foundListing.forEach((listing)=>{ %>
        <li>
        <h2>a<%= listing.title %></h2>
        <img src="<%= listing.imageurl%>" alt="Image of <%=listing.titleImageUrl%>">
        <p><%= listing.location%></p>
        <p><%= listing.description%></p>
        <a href="/listings/<%=listing._id%>">Veiw The Trip</a>
        <% })%>
        <br>
        </li>
        </ul>
            </body>

            </html>