<%- include('../partials/head') %>
<h2><%=foundListings.title%></h2>
<h3><%=foundListings.adder.username%></h3>
<h4><%= foundListings.location%></h4>
 <img src="<%= foundListings.image.url %>" class="img-fluid rounded mb-3" alt="Image of <%= foundListings.title %>">
<p><%=foundListings.description%></p>
<h3>Comments</h3>
<ul>
<% foundListings.comments.forEach((comment)=>{%>
<li>
    <%= comment.content %> -<em><%= comment.author.username%> </em>

    <% if(comment.author._id.equals(user._id)){%>
        <form action="/listings/<%= foundListings._id%>/comments/<%= comment._id%>?_method=PUT" method="POST">
            <input type="text" name="content" value="<%= comment.content %>">
            <button type="submit"> Update</button>
        </form>

        <form action="/listings/<%= foundListings._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>
    <%}%>
    </li>
<%})%>
</ul>

<h3>Leave the comment</h3>
<form action="/listings/<%= foundListings._id%>/comments" method="POST">
    <textarea name="content" id="content"></textarea>
    <button type="submit">Post comments</button>
</form>
<a href="/listings/index">Back to Listings</a>

<% if(foundListings.adder._id.equals(user._id)){%>
    <form action="/listings/<%= foundListings._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <a href="/listings/<%= foundListings._id%>/edit">Edit</a>

<%}%>
</body>
</html>